html{
    background-color: hsl(266, 33%, 4%);
}


.container{
    display: grid;
    margin-top: 5%;
}

.row{
    justify-self: center;
    align-self: center;
}

.display{
    width: 400px;
}

.calc{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: hsl(52, 100%, 62%);
    font-size: large;
}

.theme{
    font-family: 'Courier New', Courier, monospace;
    color: hsl(52, 100%, 62%);
    margin-left: auto;
}

.nums{
    color: hsl(52, 100%, 62%);
}

.custom-radio-button .checkmark{
    background-color: hsl(176, 100%, 44%);
}

.theme-toggle{
    background-color: hsl(246, 84%, 10%);
}

.calc-header{
    display: flex;
    width: 400px;
}

.display-box{
    width: 400px;
    height: 85px;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: hsl(246, 80%, 12%);
    /* box-shadow: inset hsl(246, 83%, 9%) 5px 10px 20px; */
    color: hsl(52, 100%, 62%);
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.calculator {
    padding: 10px;
    border: 3px solid hsl(246, 84%, 10%);
    border-radius: 1em;
    height: 380px;
    width: 400px;
    background-color: hsl(246, 80%, 12%);
    table-layout: fixed
   }

/* buttons start */

   .button {
    background-color: hsl(268, 47%, 21%);
    color: hsl(52, 100%, 62%);
    box-shadow: 0px 3px hsl(290, 70%, 36%);
    width: 87%;
    border: none;
    border-radius: 10px;
    height: 66%;
    outline: none;
    font-size: 1.5em;
    font-weight: bold;
   }

   .red{
        color: hsl(198, 20%, 13%);
        background-color: hsl(176, 100%, 44%);
        box-shadow: 0px 3px hsl(177, 92%, 70%);
   }

   .grey{
       color: hsl(0, 0, 100%);
       background-color: hsl(281, 89%, 26%);
       box-shadow: 0px 3px hsl(285, 91%, 52%);
   }
  
   .bottom{
       width: 95%;
   }

   .attribution a { color: rgb(175, 167, 99) }

   .attribution{ color: white; }

   